In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os

In [3]:
#importing crime data
crime = pd.read_csv(os.path.join("combo_crime_data.csv"))

In [4]:
crime.head()

,ID,Case_Number,Date,Block,IUCR,Primary_Type,Description,Location_Description,Arrest,Domestic,...,Community_Area,FBI_Code,X_Coordinate,Y_Coordinate,Year,Updated_On,Latitude,Longitude,Location,Community_Area_Name
0,24026,JB322801,6/25/18 23:50,123XX S YALE AVE,110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,...,53.0,01A,1176840.0,1823147.0,2018,7/2/18 15:51,41.670053,-87.628426,"(41.670052557, -87.6284259)",West Pullman
1,11359886,JB322747,6/25/18 22:04,001XX W BRAYTON ST,486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,...,53.0,08B,1177738.0,1821460.0,2018,7/2/18 15:51,41.665403,-87.625190,"(41.665402959, -87.625190065)",West Pullman
2,11359755,JB322421,6/25/18 17:28,122XX S PARNELL AVE,460,BATTERY,SIMPLE,SIDEWALK,False,False,...,53.0,08B,1174847.0,1823794.0,2018,7/2/18 15:51,41.671873,-87.635701,"(41.671872535, -87.635700877)",West Pullman
3,11359650,JB322719,6/25/18 21:57,002XX W 119TH ST,2027,NARCOTICS,POSS: CRACK,SIDEWALK,True,False,...,53.0,18,1176651.0,1826025.0,2018,7/2/18 15:51,41.677954,-87.629032,"(41.677954481, -87.629031525)",West Pullman
4,11359309,JB322038,6/25/18 14:24,122XX S NORMAL AVE,051A,ASSAULT,AGGRAVATED: HANDGUN,PARK PROPERTY,False,False,...,53.0,04A,1175177.0,1823767.0,2018,7/2/18 15:51,41.671791,-87.634494,"(41.671791105, -87.634493883)",West Pullman

In [5]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121696 entries, 0 to 121695
Data columns (total 23 columns):
ID                      121696 non-null int64
Case_Number             121695 non-null object
Date                    121696 non-null object
Block                   121696 non-null object
IUCR                    121696 non-null object
Primary_Type            121696 non-null object
Description             121696 non-null object
Location_Description    121423 non-null object
Arrest                  121696 non-null bool
Domestic                121696 non-null bool
Beat                    121696 non-null int64
District                121696 non-null int64
Ward                    121696 non-null float64
Community_Area          121696 non-null float64
FBI_Code                121696 non-null object
X_Coordinate            120991 non-null float64
Y_Coordinate            120991 non-null float64
Year                    121696 non-null int64
Updated_On              121696 non-null object
Latitude                120991 non-null float64
Longitude               120991 non-null float64
Location                120991 non-null object
Community_Area_Name     121696 non-null object
dtypes: bool(2), float64(6), int64(4), object(11)
memory usage: 19.7+ MB

In [10]:
#getting rid of columns that we cant do git dummies on
crime_cleaned = crime.drop(["Date", "ID", "Case_Number", "Block", "IUCR", "Description", "X_Coordinate", "Y_Coordinate", "Year", "Updated_On", "Latitude", "Longitude", "Location"], axis=1)

In [11]:
crime_cleaned.head()

,Primary_Type,Location_Description,Arrest,Domestic,Beat,District,Ward,Community_Area,FBI_Code,Community_Area_Name
0,HOMICIDE,STREET,False,False,523,5,34.0,53.0,01A,West Pullman
1,BATTERY,RESIDENCE,False,True,523,5,9.0,53.0,08B,West Pullman
2,BATTERY,SIDEWALK,False,False,523,5,34.0,53.0,08B,West Pullman
3,NARCOTICS,SIDEWALK,True,False,522,5,34.0,53.0,18,West Pullman
4,ASSAULT,PARK PROPERTY,False,False,523,5,34.0,53.0,04A,West Pullman

In [14]:
crime_cleaned.dtypes

Primary_Type             object
Location_Description     object
Arrest                     bool
Domestic                   bool
Beat                      int64
District                  int64
Ward                    float64
Community_Area          float64
FBI_Code                 object
Community_Area_Name      object
dtype: object

In [20]:
crime_cleaned.dtypes

Primary_Type             object
Location_Description     object
Arrest                     bool
Domestic                   bool
Beat                      int64
District                  int64
Ward                    float64
Community_Area          float64
FBI_Code                 object
Community_Area_Name      object
dtype: object

In [25]:
#making dummy variables out of the object variables 
crime_dummies= pd.get_dummies(crime_cleaned)
crime_dummies.head()

,Arrest,Domestic,Beat,District,Ward,Community_Area,Primary_Type_ARSON,Primary_Type_ASSAULT,Primary_Type_BATTERY,Primary_Type_BURGLARY,...,Community_Area_Name_Washington Heights,Community_Area_Name_Washington Park,Community_Area_Name_West Elsdon,Community_Area_Name_West Englewood,Community_Area_Name_West Garfield Park,Community_Area_Name_West Lawn,Community_Area_Name_West Pullman,Community_Area_Name_West Ridge,Community_Area_Name_West Town,Community_Area_Name_Woodlawn
0,False,False,523,5,34.0,53.0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,False,True,523,5,9.0,53.0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
2,False,False,523,5,34.0,53.0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
3,True,False,522,5,34.0,53.0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,False,False,523,5,34.0,53.0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0

In [26]:
# Assign X (data) and y (target)
X = crime_dummies.drop("Arrest", axis=1)
y = crime_dummies["Arrest"]
print(X.shape, y.shape)

(121696, 261) (121696,)

In [27]:
from sklearn.model_selection import train_test_split
#strafity helps to make the data more random

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [28]:
#create a logisitc regression model 
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [29]:
#fit (train) model with training data 
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [30]:
#validata model using test data
#
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.8772241213077395
Testing Data Score: 0.8770378648435446

In [31]:
#make predictions 
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   [False False False  True False False False False False False]
First 10 Actual labels: [False, False, False, True, True, True, False, False, False, False]

In [32]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

       Actual  Prediction
0       False       False
1       False       False
2       False       False
3        True        True
4        True       False
5        True       False
6       False       False
7       False       False
8       False       False
9       False       False
10       True        True
11       True       False
12      False       False
13       True        True
14      False       False
15      False       False
16      False       False
17      False       False
18      False       False
19      False       False
20      False       False
21      False       False
22      False       False
23      False       False
24      False       False
25       True        True
26      False       False
27       True       False
28      False       False
29      False        True
...       ...         ...
30394   False       False
30395    True       False
30396   False       False
30397   False       False
30398   False       False
30399   False       False
30400   False       False
30401   False       False
30402   False       False
30403   False       False
30404   False       False
30405    True        True
30406   False       False
30407   False       False
30408   False       False
30409   False       False
30410   False       False
30411   False       False
30412   False       False
30413   False       False
30414   False       False
30415   False       False
30416   False       False
30417   False       False
30418   False       False
30419   False       False
30420    True        True
30421   False       False
30422   False       False
30423   False       False

[30424 rows x 2 columns]