In [ ]:
import pandas as pd
import os

In [2]:

df = pd.read_csv(os.path.join("Crimes_jan18_to_present.csv"))
community_areas = pd.read_csv(os.path.join("community_areas.csv"))

In [3]:
df.head()

,ID,Case_Number,Date,Block,IUCR,Primary_Type,Description,Location_Description,Arrest,Domestic,...,Ward,Community_Area,FBI_Code,X_Coordinate,Y_Coordinate,Year,Updated_On,Latitude,Longitude,Location
0,24026,JB322801,6/25/18 23:50,123XX S YALE AVE,110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,...,34.0,53.0,01A,1176840.0,1823147.0,2018,7/2/18 15:51,41.670053,-87.628426,"(41.670052557, -87.6284259)"
1,24024,JB321259,6/25/18 0:03,044XX S PRAIRIE AVE,110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,...,3.0,38.0,01A,1178784.0,1875596.0,2018,7/2/18 15:51,41.813935,-87.619719,"(41.813935009, -87.61971928)"
2,11366605,JB331566,6/13/18 20:30,075XX S LAFAYETTE AVE,910,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,...,6.0,69.0,7,NaN,NaN,2018,7/2/18 15:51,NaN,NaN,NaN
3,11366591,JB331560,5/8/18 20:00,014XX N AUSTIN BLVD,890,THEFT,FROM BUILDING,RESIDENCE,False,False,...,29.0,25.0,6,NaN,NaN,2018,7/2/18 15:51,NaN,NaN,NaN
4,11366513,JB327920,5/25/18 12:00,0000X W M15 ST,810,THEFT,OVER $500,AIRPORT EXTERIOR - SECURE AREA,False,False,...,41.0,76.0,6,NaN,NaN,2018,7/2/18 15:51,NaN,NaN,NaN

In [5]:
community_areas.head()

   Community_Area Community_Area_Name
0               1         Rogers Park
1               2          West Ridge
2               3              Uptown
3               4      Lincoln Square
4               5        North Center

In [ ]:
community_areas.head()

In [6]:
combo_data=pd.merge(df, community_areas, on="Community_Area")
combo_data.head()

,ID,Case_Number,Date,Block,IUCR,Primary_Type,Description,Location_Description,Arrest,Domestic,...,Community_Area,FBI_Code,X_Coordinate,Y_Coordinate,Year,Updated_On,Latitude,Longitude,Location,Community_Area_Name
0,24026,JB322801,6/25/18 23:50,123XX S YALE AVE,110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,...,53,01A,1176840.0,1823147.0,2018,7/2/18 15:51,41.670053,-87.628426,"(41.670052557, -87.6284259)",West Pullman
1,11359886,JB322747,6/25/18 22:04,001XX W BRAYTON ST,486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,...,53,08B,1177738.0,1821460.0,2018,7/2/18 15:51,41.665403,-87.625190,"(41.665402959, -87.625190065)",West Pullman
2,11359755,JB322421,6/25/18 17:28,122XX S PARNELL AVE,460,BATTERY,SIMPLE,SIDEWALK,False,False,...,53,08B,1174847.0,1823794.0,2018,7/2/18 15:51,41.671873,-87.635701,"(41.671872535, -87.635700877)",West Pullman
3,11359650,JB322719,6/25/18 21:57,002XX W 119TH ST,2027,NARCOTICS,POSS: CRACK,SIDEWALK,True,False,...,53,18,1176651.0,1826025.0,2018,7/2/18 15:51,41.677954,-87.629032,"(41.677954481, -87.629031525)",West Pullman
4,11359309,JB322038,6/25/18 14:24,122XX S NORMAL AVE,051A,ASSAULT,AGGRAVATED: HANDGUN,PARK PROPERTY,False,False,...,53,04A,1175177.0,1823767.0,2018,7/2/18 15:51,41.671791,-87.634494,"(41.671791105, -87.634493883)",West Pullman

In [7]:

##exporting combo data
combo_data.to_csv("combo_crime_data.csv", index=False, header =True)