In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os

In [3]:
#importing crime data
crime = pd.read_csv(os.path.join("combo_crime_data.csv"))

In [4]:
crime.head()

,ID,Case_Number,Date,Block,IUCR,Primary_Type,Description,Location_Description,Arrest,Domestic,...,Community_Area,FBI_Code,X_Coordinate,Y_Coordinate,Year,Updated_On,Latitude,Longitude,Location,Community_Area_Name
0,24026,JB322801,6/25/18 23:50,123XX S YALE AVE,110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,...,53.0,01A,1176840.0,1823147.0,2018,7/2/18 15:51,41.670053,-87.628426,"(41.670052557, -87.6284259)",West Pullman
1,11359886,JB322747,6/25/18 22:04,001XX W BRAYTON ST,486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,...,53.0,08B,1177738.0,1821460.0,2018,7/2/18 15:51,41.665403,-87.625190,"(41.665402959, -87.625190065)",West Pullman
2,11359755,JB322421,6/25/18 17:28,122XX S PARNELL AVE,460,BATTERY,SIMPLE,SIDEWALK,False,False,...,53.0,08B,1174847.0,1823794.0,2018,7/2/18 15:51,41.671873,-87.635701,"(41.671872535, -87.635700877)",West Pullman
3,11359650,JB322719,6/25/18 21:57,002XX W 119TH ST,2027,NARCOTICS,POSS: CRACK,SIDEWALK,True,False,...,53.0,18,1176651.0,1826025.0,2018,7/2/18 15:51,41.677954,-87.629032,"(41.677954481, -87.629031525)",West Pullman
4,11359309,JB322038,6/25/18 14:24,122XX S NORMAL AVE,051A,ASSAULT,AGGRAVATED: HANDGUN,PARK PROPERTY,False,False,...,53.0,04A,1175177.0,1823767.0,2018,7/2/18 15:51,41.671791,-87.634494,"(41.671791105, -87.634493883)",West Pullman

In [5]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121696 entries, 0 to 121695
Data columns (total 23 columns):
ID                      121696 non-null int64
Case_Number             121695 non-null object
Date                    121696 non-null object
Block                   121696 non-null object
IUCR                    121696 non-null object
Primary_Type            121696 non-null object
Description             121696 non-null object
Location_Description    121423 non-null object
Arrest                  121696 non-null bool
Domestic                121696 non-null bool
Beat                    121696 non-null int64
District                121696 non-null int64
Ward                    121696 non-null float64
Community_Area          121696 non-null float64
FBI_Code                121696 non-null object
X_Coordinate            120991 non-null float64
Y_Coordinate            120991 non-null float64
Year                    121696 non-null int64
Updated_On              121696 non-null object
Latitude                120991 non-null float64
Longitude               120991 non-null float64
Location                120991 non-null object
Community_Area_Name     121696 non-null object
dtypes: bool(2), float64(6), int64(4), object(11)
memory usage: 19.7+ MB

In [6]:
#getting rid of columns that we cant do git dummies on
crime_cleaned = crime.drop(["Date", "ID", "Case_Number", "Block", "IUCR", "Description", "X_Coordinate", "Y_Coordinate", "Year", "Updated_On", "Latitude", "Longitude", "Location"], axis=1)

In [7]:
crime_cleaned.head()

,Primary_Type,Location_Description,Arrest,Domestic,Beat,District,Ward,Community_Area,FBI_Code,Community_Area_Name
0,HOMICIDE,STREET,False,False,523,5,34.0,53.0,01A,West Pullman
1,BATTERY,RESIDENCE,False,True,523,5,9.0,53.0,08B,West Pullman
2,BATTERY,SIDEWALK,False,False,523,5,34.0,53.0,08B,West Pullman
3,NARCOTICS,SIDEWALK,True,False,522,5,34.0,53.0,18,West Pullman
4,ASSAULT,PARK PROPERTY,False,False,523,5,34.0,53.0,04A,West Pullman

In [8]:
crime_cleaned.dtypes

Primary_Type             object
Location_Description     object
Arrest                     bool
Domestic                   bool
Beat                      int64
District                  int64
Ward                    float64
Community_Area          float64
FBI_Code                 object
Community_Area_Name      object
dtype: object

In [9]:
#crime_cleaned.dtypes

Primary_Type             object
Location_Description     object
Arrest                     bool
Domestic                   bool
Beat                      int64
District                  int64
Ward                    float64
Community_Area          float64
FBI_Code                 object
Community_Area_Name      object
dtype: object

In [10]:
#making dummy variables out of the object variables 
crime_dummies= pd.get_dummies(crime_cleaned)
crime_dummies.head()

,Arrest,Domestic,Beat,District,Ward,Community_Area,Primary_Type_ARSON,Primary_Type_ASSAULT,Primary_Type_BATTERY,Primary_Type_BURGLARY,...,Community_Area_Name_Washington Heights,Community_Area_Name_Washington Park,Community_Area_Name_West Elsdon,Community_Area_Name_West Englewood,Community_Area_Name_West Garfield Park,Community_Area_Name_West Lawn,Community_Area_Name_West Pullman,Community_Area_Name_West Ridge,Community_Area_Name_West Town,Community_Area_Name_Woodlawn
0,False,False,523,5,34.0,53.0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,False,True,523,5,9.0,53.0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
2,False,False,523,5,34.0,53.0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
3,True,False,522,5,34.0,53.0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,False,False,523,5,34.0,53.0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0

In [11]:
# Assign X (data) and y (target)
X = crime_dummies.drop("Arrest", axis=1)
y = crime_dummies["Arrest"]
print(X.shape, y.shape)

(121696, 261) (121696,)

In [12]:
from sklearn.model_selection import train_test_split
#strafity helps to make the data more random

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [13]:
#create a logisitc regression model 
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [14]:
#fit (train) model with training data 
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [15]:
#validata model using test data
#
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.877059777368744
Testing Data Score: 0.8764133578753616

In [16]:
#make predictions 
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   [False False False  True False False False False False False]
First 10 Actual labels: [False, False, False, True, True, True, False, False, False, False]

In [17]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

       Actual  Prediction
0       False       False
1       False       False
2       False       False
3        True        True
4        True       False
5        True       False
6       False       False
7       False       False
8       False       False
9       False       False
10       True        True
11       True       False
12      False       False
13       True        True
14      False       False
15      False       False
16      False       False
17      False       False
18      False       False
19      False       False
20      False       False
21      False       False
22      False       False
23      False       False
24      False       False
25       True        True
26      False       False
27       True       False
28      False       False
29      False        True
...       ...         ...
30394   False       False
30395    True       False
30396   False       False
30397   False       False
30398   False       False
30399   False       False
30400   False       False
30401   False       False
30402   False       False
30403   False       False
30404   False       False
30405    True        True
30406   False       False
30407   False       False
30408   False       False
30409   False       False
30410   False       False
30411   False       False
30412   False       False
30413   False       False
30414   False       False
30415   False       False
30416   False       False
30417   False       False
30418   False       False
30419   False       False
30420    True        True
30421   False       False
30422   False       False
30423   False       False

[30424 rows x 2 columns]

In [18]:
#### random forest by Jiali
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.86763739153300024

In [22]:
print(f"Training Data Score: {rf.score(X_train, y_train)}")
print(f"Testing Data Score: {rf.score(X_test, y_test)}")

Training Data Score: 0.9392694364098518
Testing Data Score: 0.8676373915330002

In [23]:
predictions = rf.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   [False False False  True False  True  True False False  True]
First 10 Actual labels: [False, False, False, True, True, True, False, False, False, False]

In [24]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

       Actual  Prediction
0       False       False
1       False       False
2       False       False
3        True        True
4        True       False
5        True        True
6       False        True
7       False       False
8       False       False
9       False        True
10       True        True
11       True       False
12      False       False
13       True        True
14      False       False
15      False        True
16      False       False
17      False       False
18      False       False
19      False       False
20      False       False
21      False       False
22      False       False
23      False       False
24      False       False
25       True        True
26      False       False
27       True       False
28      False       False
29      False        True
...       ...         ...
30394   False       False
30395    True       False
30396   False       False
30397   False       False
30398   False       False
30399   False       False
30400   False       False
30401   False       False
30402   False       False
30403   False       False
30404   False       False
30405    True        True
30406   False       False
30407   False       False
30408   False       False
30409   False       False
30410   False       False
30411   False       False
30412   False       False
30413   False        True
30414   False       False
30415   False       False
30416   False       False
30417   False       False
30418   False       False
30419   False       False
30420    True        True
30421   False       False
30422   False       False
30423   False       False

[30424 rows x 2 columns]

In [21]:
feature_names = X.columns

sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.13805015679964056, 'Beat'),
 (0.11536006049544957, 'Primary_Type_NARCOTICS'),
 (0.10714192540188842, 'FBI_Code_18'),
 (0.062124384523349681, 'Ward'),
 (0.025583204318367046, 'Community_Area'),
 (0.025168853758549398, 'Primary_Type_CRIMINAL TRESPASS'),
 (0.024025058895037411, 'District'),
 (0.02304639311832464, 'Domestic'),
 (0.022835759973091254, 'Primary_Type_WEAPONS VIOLATION'),
 (0.022542110911188632, 'FBI_Code_15'),
 (0.017681382947766541, 'Location_Description_DEPARTMENT STORE'),
 (0.017558685999544025, 'Location_Description_STREET'),
 (0.017326908423321786, 'FBI_Code_24'),
 (0.016367778104802506, 'Location_Description_GROCERY FOOD STORE'),
 (0.014445349607890569, 'Location_Description_RESIDENCE'),
 (0.013069297109538809, 'Location_Description_SIDEWALK'),
 (0.01167413869901575, 'FBI_Code_26'),
 (0.011106006976646923, 'Location_Description_APARTMENT'),
 (0.01090942375837625, 'Primary_Type_INTERFERENCE WITH PUBLIC OFFICER'),
 (0.0082597773313216934, 'Primary_Type_THEFT'),
 (0.0082457667499491166, 'FBI_Code_6'),
 (0.0077766441269819095, 'Primary_Type_BATTERY'),
 (0.0074298087021003531, 'Primary_Type_OTHER OFFENSE'),
 (0.0072101088161971912, 'FBI_Code_16'),
 (0.0070473759643141778, 'Location_Description_SMALL RETAIL STORE'),
 (0.0062950348253099364, 'Primary_Type_PROSTITUTION'),
 (0.0062684962261590994, 'Primary_Type_CRIMINAL DAMAGE'),
 (0.0061603803291011248, 'FBI_Code_08B'),
 (0.0060171283016927837, 'Location_Description_OTHER'),
 (0.0057611352858150441, 'FBI_Code_14'),
 (0.0057499044440079668, 'Primary_Type_DECEPTIVE PRACTICE'),
 (0.0054435190358458783,
  'Location_Description_PARKING LOT/GARAGE(NON.RESID.)'),
 (0.0048486393183827014, 'Location_Description_RESTAURANT'),
 (0.0047654413122197696, 'Location_Description_ALLEY'),
 (0.0046524183389550491, 'FBI_Code_11'),
 (0.0045360041862191787, 'Location_Description_RESIDENTIAL YARD (FRONT/BACK)'),
 (0.004527443511362932, 'Location_Description_SCHOOL, PUBLIC, BUILDING'),
 (0.0044027504362744631, 'Location_Description_RESIDENCE PORCH/HALLWAY'),
 (0.004315827153049903, 'Location_Description_VEHICLE NON-COMMERCIAL'),
 (0.004272844073788193, 'Location_Description_GAS STATION'),
 (0.0041951308379936398, 'Location_Description_CONVENIENCE STORE'),
 (0.0041802483829792639, 'Primary_Type_PUBLIC PEACE VIOLATION'),
 (0.0038852133990451955, 'Primary_Type_ASSAULT'),
 (0.0038226661662645834, 'Primary_Type_ROBBERY'),
 (0.003589957647780701, 'Location_Description_CTA STATION'),
 (0.0035849467864623396, 'FBI_Code_04B'),
 (0.0034995302524825469, 'Location_Description_DRUG STORE'),
 (0.0032366702373352058, 'Primary_Type_BURGLARY'),
 (0.0032256887474409694, 'FBI_Code_08A'),
 (0.0031512734087452976, 'FBI_Code_3'),
 (0.0028701442126350773, 'FBI_Code_5'),
 (0.002757834331043681, 'FBI_Code_7'),
 (0.0027502334734008705, 'FBI_Code_22'),
 (0.0026303257906123657, 'FBI_Code_04A'),
 (0.0025587175358694958, 'Community_Area_Name_North Lawndale'),
 (0.0025524028196032469, 'Primary_Type_MOTOR VEHICLE THEFT'),
 (0.0024022626573709086,
  'Location_Description_POLICE FACILITY/VEH PARKING LOT'),
 (0.002383406155806025, 'Primary_Type_LIQUOR LAW VIOLATION'),
 (0.0023621201160980653, 'Community_Area_Name_Austin'),
 (0.0022470383296093223, 'Location_Description_CTA PLATFORM'),
 (0.002094342344782099, 'Community_Area_Name_Roseland'),
 (0.0019597817352363651, 'Location_Description_SCHOOL, PUBLIC, GROUNDS'),
 (0.001911235526390925, 'Community_Area_Name_Near West Side'),
 (0.001892812128012382, 'Community_Area_Name_Humboldt Park'),
 (0.0017858380429849401, 'Location_Description_BAR OR TAVERN'),
 (0.001768658272232235, 'Location_Description_RESIDENCE-GARAGE'),
 (0.0016424261028918266, 'Location_Description_PARK PROPERTY'),
 (0.001616083927722097, 'Community_Area_Name_West Garfield Park'),
 (0.0016077414421314517, 'Community_Area_Name_Greater Grand Crossing'),
 (0.0015576162368330954, 'Location_Description_CTA BUS'),
 (0.0015440745719053025, 'Location_Description_HOSPITAL BUILDING/GROUNDS'),
 (0.0015438464129404433, 'Location_Description_HOTEL/MOTEL'),
 (0.0015421023144071627, 'Primary_Type_GAMBLING'),
 (0.0015420152959565742, 'FBI_Code_19'),
 (0.001498175350842729, 'Location_Description_COMMERCIAL / BUSINESS OFFICE'),
 (0.0014935062777802677, 'Community_Area_Name_Chatham'),
 (0.0014794991368214361, 'Community_Area_Name_West Town'),
 (0.0014785739417949226, 'Community_Area_Name_Auburn Gresham'),
 (0.0014390959095316536, 'Community_Area_Name_South Shore'),
 (0.0013791329627839994, 'Community_Area_Name_Englewood'),
 (0.0013555011981645679, 'Location_Description_CTA TRAIN'),
 (0.0013549952164331545, 'Community_Area_Name_West Englewood'),
 (0.0013470739055161851, 'Community_Area_Name_Near North Side'),
 (0.0013442894244341519, 'Community_Area_Name_New City'),
 (0.0013409339322823113, 'Location_Description_TAVERN/LIQUOR STORE'),
 (0.0013368826001550977, 'Community_Area_Name_Logan Square'),
 (0.0012850890367341484, 'Community_Area_Name_Pullman'),
 (0.0012817353567679162, 'Community_Area_Name_East Garfield Park'),
 (0.0012737127474574575, 'Location_Description_SCHOOL, PRIVATE, BUILDING'),
 (0.0012676693761927722, 'Primary_Type_OBSCENITY'),
 (0.0012305568684595786, 'Location_Description_CHA APARTMENT'),
 (0.0012103433994008898, 'Community_Area_Name_South Chicago'),
 (0.0011888680329662023, 'Community_Area_Name_Loop'),
 (0.001175043252620201, 'Community_Area_Name_South Lawndale'),
 (0.0011720161070206277, 'Community_Area_Name_West Pullman'),
 (0.0011005588003041387, 'Community_Area_Name_Chicago Lawn'),
 (0.0010564991851808802, 'Community_Area_Name_Belmont Cragin'),
 (0.0010513200247411463, 'Location_Description_GOVERNMENT BUILDING/PROPERTY'),
 (0.001035410839777806, 'Community_Area_Name_Lake View'),
 (0.0010190113250329346, 'Location_Description_CHA PARKING LOT/GROUNDS'),
 (0.0010008107590573014, 'Community_Area_Name_South Deering'),
 (0.0010000665034998601, 'Community_Area_Name_Gage Park'),
 (0.00097299200390080329, 'Community_Area_Name_Uptown'),
 (0.00097148901397058963, 'Community_Area_Name_Woodlawn'),
 (0.00094858080740747007, 'Community_Area_Name_West Lawn'),
 (0.00093770674854029752, 'Community_Area_Name_Morgan Park'),
 (0.00093669115180551013, 'Community_Area_Name_Irving Park'),
 (0.00092576235678392684, 'Community_Area_Name_Lower West Side'),
 (0.00091732652064870166, 'Community_Area_Name_Avondale'),
 (0.00091004365130103267, 'Primary_Type_OFFENSE INVOLVING CHILDREN'),
 (0.00089139493656481073, 'Community_Area_Name_Washington Park'),
 (0.00088910894575488825, 'Community_Area_Name_Lincoln Square'),
 (0.00088785811039307732, 'Community_Area_Name_Brighton Park'),
 (0.00087514918626612468, 'Community_Area_Name_Portage Park'),
 (0.00087391675179902025, 'Community_Area_Name_Lincoln Park'),
 (0.00087080680034494354, 'Community_Area_Name_Washington Heights'),
 (0.00086833455450392066,
  'Location_Description_CHURCH/SYNAGOGUE/PLACE OF WORSHIP'),
 (0.0008507876874314182, 'Community_Area_Name_Bridgeport'),
 (0.00084440724281449175, 'Community_Area_Name_Ashburn'),
 (0.00083236536623720371, 'Community_Area_Name_Grand Boulevard'),
 (0.0008317190596654595, 'Community_Area_Name_Douglas'),
 (0.00082861411866768774, 'Location_Description_CTA BUS STOP'),
 (0.00082330337557915204, 'FBI_Code_20'),
 (0.00081781499846851039, 'Community_Area_Name_Armour Square'),
 (0.00073344664628084656, 'FBI_Code_2'),
 (0.00073318443876562074, 'Community_Area_Name_Rogers Park'),
 (0.00073097963059120077,
  'Location_Description_OTHER RAILROAD PROP / TRAIN DEPOT'),
 (0.00072554494597574712, 'Community_Area_Name_Albany Park'),
 (0.00072496389417651865, 'FBI_Code_17'),
 (0.00072205374348047245, 'Community_Area_Name_Calumet Heights'),
 (0.00072126260560328764, 'Location_Description_LIBRARY'),
 (0.00071373688616548786, 'Community_Area_Name_Garfield Ridge'),
 (0.00071351853964131764, 'Location_Description_NURSING HOME/RETIREMENT HOME'),
 (0.00071287128635101778, 'Primary_Type_CONCEALED CARRY LICENSE VIOLATION'),
 (0.00071165469135900383, 'Location_Description_BANK'),
 (0.00070397148313464401, 'Location_Description_DRIVEWAY - RESIDENTIAL'),
 (0.00068766310992245973, 'Community_Area_Name_Avalon Park'),
 (0.00068281342455968927, 'Community_Area_Name_West Ridge'),
 (0.00067464900737030276, 'Community_Area_Name_East Side'),
 (0.00065683171005179164, 'Primary_Type_SEX OFFENSE'),
 (0.00064162755717844799, 'Community_Area_Name_Hermosa'),
 (0.00062788548398496648, 'Location_Description_VACANT LOT/LAND'),
 (0.00062380641503916848, 'Community_Area_Name_Fuller Park'),
 (0.00061628508543658917, 'Community_Area_Name_Edgewater'),
 (0.00060891003061496645, 'Community_Area_Name_West Elsdon'),
 (0.00059523443318541033, 'Community_Area_Name_Dunning'),
 (0.00058844580604709002, 'Community_Area_Name_Near South Side'),
 (0.0005680362140159733, 'Location_Description_BARBERSHOP'),
 (0.00056600655150514957, 'Location_Description_APPLIANCE STORE'),
 (0.00056181488282330263, "Community_Area_Name_O'Hare"),
 (0.00054967784259262321, 'Primary_Type_CRIM SEXUAL ASSAULT'),
 (0.00054822334018027677, 'Location_Description_TAXICAB'),
 (0.0005391147953104625, 'Community_Area_Name_Riverdale'),
 (0.00052672026627686237, 'Community_Area_Name_Archer Heights'),
 (0.00051297910968839823, 'Community_Area_Name_Kenwood'),
 (0.00051230708806475323, 'Community_Area_Name_North Park'),
 (0.00050157723415280306, 'Community_Area_Name_McKinley Park'),
 (0.00049863224865206491, 'Location_Description_ABANDONED BUILDING'),
 (0.00049662562238912721, 'FBI_Code_10'),
 (0.00049193778151853697, 'Location_Description_AUTO / BOAT / RV DEALERSHIP'),
 (0.00048891623786714942, 'Location_Description_CONSTRUCTION SITE'),
 (0.00048441276277031347, 'Location_Description_CTA GARAGE / OTHER PROPERTY'),
 (0.00046661827943264599, 'Community_Area_Name_Hegewisch'),
 (0.00045935168345453964, 'Community_Area_Name_Hyde Park'),
 (0.000455536339275976, 'Location_Description_WAREHOUSE'),
 (0.00045231543058335343, 'Location_Description_VEHICLE-COMMERCIAL'),
 (0.00042847048593165654, 'FBI_Code_01A'),
 (0.00041399689333856396, 'Community_Area_Name_North Center'),
 (0.00040605044792302628, 'Community_Area_Name_Jefferson Park'),
 (0.00040300467598425462, 'Community_Area_Name_Norwood Park'),
 (0.0003927430717800586, 'Primary_Type_HOMICIDE'),
 (0.00038863271382726214, 'Community_Area_Name_Beverly'),
 (0.00038582287468711307, 'Location_Description_CURRENCY EXCHANGE'),
 (0.00038578612576870626, 'Community_Area_Name_Forest Glen'),
 (0.00037137786882193821, 'Location_Description_COLLEGE/UNIVERSITY GROUNDS'),
 (0.00036692811325432143, 'Location_Description_SCHOOL, PRIVATE, GROUNDS'),
 (0.00034771730473846026, 'Community_Area_Name_Mount Greenwood'),
 (0.0003449067542588763,
  'Location_Description_CHA HALLWAY/STAIRWELL/ELEVATOR'),
 (0.0003405394935583448, 'Primary_Type_KIDNAPPING'),
 (0.00033953542370204916, 'Community_Area_Name_Burnside'),
 (0.00033664641896562333,
  'Location_Description_OTHER COMMERCIAL TRANSPORTATION'),
 (0.00033258473734875017, 'Location_Description_ATHLETIC CLUB'),
 (0.0003246807052880544, 'Location_Description_MOVIE HOUSE/THEATER'),
 (0.00032234375913160697, 'Community_Area_Name_Montclaire'),
 (0.00031807566320597573, 'Location_Description_CAR WASH'),
 (0.00031688205208115118,
  'Location_Description_AIRPORT TERMINAL UPPER LEVEL - SECURE AREA'),
 (0.00031576656064438382, 'Community_Area_Name_Clearing'),
 (0.00028285650681205121, 'Location_Description_JAIL / LOCK-UP FACILITY'),
 (0.00027988093650846928, 'Community_Area_Name_Oakland'),
 (0.00026897356945726963, 'Primary_Type_ARSON'),
 (0.00025229877499770086, 'Location_Description_SPORTS ARENA/STADIUM'),
 (0.00025151928193589907,
  'Location_Description_AIRPORT TERMINAL LOWER LEVEL - NON-SECURE AREA'),
 (0.00023775845333912852,
  'Location_Description_VEHICLE - OTHER RIDE SHARE SERVICE (E.G., UBER, LYFT)'),
 (0.00023430511306794826, 'FBI_Code_9'),
 (0.00022967671762043489, 'Location_Description_CTA TRACKS - RIGHT OF WAY'),
 (0.00021834015883933519, 'Location_Description_DAY CARE CENTER'),
 (0.0002132599126353373, 'Location_Description_ANIMAL HOSPITAL'),
 (0.00021014896738345127, 'Location_Description_PAWN SHOP'),
 (0.00020514974867705745, 'FBI_Code_13'),
 (0.00019887183400645283, 'Primary_Type_PUBLIC INDECENCY'),
 (0.00019859961171136482, 'Primary_Type_INTIMIDATION'),
 (0.00019337280234888533, 'Location_Description_MEDICAL/DENTAL OFFICE'),
 (0.00019305876212618502, 'Primary_Type_STALKING'),
 (0.00018749021891670939, 'Community_Area_Name_Edison Park'),
 (0.00017876152908228432, 'Location_Description_HIGHWAY/EXPRESSWAY'),
 (0.0001782194694871993,
  'Location_Description_AIRPORT BUILDING NON-TERMINAL - NON-SECURE AREA'),
 (0.00017387129605754309,
  'Location_Description_FACTORY/MANUFACTURING BUILDING'),
 (0.00015805131063285858, 'Location_Description_HOUSE'),
 (0.0001571020937306216,
  'Location_Description_AIRPORT TERMINAL UPPER LEVEL - NON-SECURE AREA'),
 (0.00013696440203028325, 'Location_Description_FEDERAL BUILDING'),
 (0.00012244660941065761,
  'Location_Description_ATM (AUTOMATIC TELLER MACHINE)'),
 (0.00010596343661050448, 'Location_Description_AIRPORT PARKING LOT'),
 (0.0001015048731634019, 'Location_Description_CLEANING STORE'),
 (9.8756213928916914e-05,
  'Location_Description_VEHICLE-COMMERCIAL - ENTERTAINMENT/PARTY BUS'),
 (9.2440994843850965e-05,
  'Location_Description_AIRPORT EXTERIOR - NON-SECURE AREA'),
 (7.7360028007949521e-05, 'Location_Description_FIRE STATION'),
 (7.4378599771413319e-05, 'Location_Description_AIRCRAFT'),
 (7.1790214197087722e-05, 'Location_Description_BRIDGE'),
 (7.1334189176994834e-05,
  'Location_Description_AIRPORT VENDING ESTABLISHMENT'),
 (6.45971446076333e-05, 'FBI_Code_01B'),
 (6.1838598667735421e-05, 'Primary_Type_NON-CRIMINAL'),
 (5.187883577637057e-05, 'Location_Description_SAVINGS AND LOAN'),
 (5.0318380235439856e-05, 'Location_Description_CTA PROPERTY'),
 (4.764700290152204e-05, 'Location_Description_BOWLING ALLEY'),
 (3.8803276934308277e-05,
  'Location_Description_AIRPORT TERMINAL LOWER LEVEL - SECURE AREA'),
 (3.7960691000475347e-05, 'Location_Description_GARAGE'),
 (3.76058485869632e-05, 'Location_Description_CEMETARY'),
 (3.6838472900185234e-05, 'Location_Description_COIN OPERATED MACHINE'),
 (3.6545227330878219e-05, 'Location_Description_GOVERNMENT BUILDING'),
 (3.4857993259265508e-05, 'Location_Description_AUTO'),
 (3.234591880056737e-05, 'FBI_Code_12'),
 (3.0990777297718181e-05,
  'Location_Description_AIRPORT BUILDING NON-TERMINAL - SECURE AREA'),
 (3.0465898116298169e-05,
  'Location_Description_COLLEGE/UNIVERSITY RESIDENCE HALL'),
 (2.9910105111881523e-05, 'Location_Description_PORCH'),
 (2.7173761411539621e-05, 'Location_Description_PARKING LOT'),
 (2.5468223022355826e-05, 'Primary_Type_HUMAN TRAFFICKING'),
 (2.435063536218281e-05, 'Location_Description_BOAT/WATERCRAFT'),
 (2.2372218158989936e-05,
  'Location_Description_LAKEFRONT/WATERFRONT/RIVERBANK'),
 (2.0982640841994979e-05, 'Primary_Type_NON-CRIMINAL (SUBJECT SPECIFIED)'),
 (1.8635055999252507e-05, 'Location_Description_POOL ROOM'),
 (1.5289209150430219e-05,
  'Location_Description_AIRPORT EXTERIOR - SECURE AREA'),
 (1.0007163070553384e-05, 'Location_Description_VEHICLE - DELIVERY TRUCK'),
 (9.7155034824017877e-06, 'Location_Description_GARAGE/AUTO REPAIR'),
 (5.7661960135166662e-06, 'Location_Description_AIRPORT/AIRCRAFT'),
 (4.1336240012759869e-06, 'Location_Description_HALLWAY'),
 (3.9622811857007554e-06, 'Location_Description_YARD'),
 (3.6822215060945542e-06,
  'Location_Description_VEHICLE-COMMERCIAL - TROLLEY BUS'),
 (3.0063430866318461e-06, 'Location_Description_CHA GROUNDS'),
 (2.8791971318450002e-06, 'Location_Description_LIQUOR STORE'),
 (2.4535648370597534e-06,
  'Location_Description_AIRPORT TERMINAL MEZZANINE - NON-SECURE AREA'),
 (1.9748321856959289e-06,
  'Location_Description_AIRPORT TRANSPORTATION SYSTEM (ATS)'),
 (1.6028635953107882e-06, 'Location_Description_FARM'),
 (1.5278489110415039e-06, 'Location_Description_FOREST PRESERVE'),
 (1.0562607402914421e-06, 'Location_Description_HOTEL'),
 (7.0821329446069878e-07, 'Location_Description_CREDIT UNION'),
 (6.3924992264619942e-07, 'Location_Description_NEWSSTAND'),
 (6.0648864777687463e-07, 'Location_Description_VACANT LOT'),
 (9.8240806509112026e-11, 'Location_Description_HORSE STABLE'),
 (0.0, 'Location_Description_YMCA'),
 (0.0, 'Location_Description_RETAIL STORE'),
 (0.0, 'Location_Description_DRIVEWAY')]